body {
   margin: 0;
   height: 100vh;
   background: linear-gradient(90deg, #07611f, #001406);
   background-size: 400% 400%;
   animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
   0% { background-position: 0% 50%; }
   50% { background-position: 100% 50%; }
   100% { background-position: 0% 50%; }
}

.form__input {
   font-family: 'Audiowide', sans-serif;
   width: 100%;
   padding: 10px;
   font-size: 1.5em;
   border: none;
   border-radius: 5px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
